// Primary colors
$color-primary:#c49d48;
$color-primary-light:#efd6ac;

$color-secondary: #2c4458;
$color-secondary-light: #688095;
$color-secondary-light-2: #357ab4;


$color-grey-light-1:#f6f6f6;
$color-grey-light-2:#eee;

$color-grey-dark-1:#707070;
$color-grey-dark-2:#2d3338;;

$font-heading: "Open Sans", "Source Sans pro", sans-serif;
$font-body:"Poppins", "Source Sans pro", sans-serif;

$shadow:0 -1rem 10rem rgba($color: #000000, $alpha: .2);




