*, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
}

.conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 1fr [grid-start] ([col-start] minmax(min-content, 9.3333rem) [col-end])[12] [grid-end] 1fr [full-end];
      grid-template-columns: [full-start] 1fr [grid-start] repeat(12, [col-start] minmax(-webkit-min-content, 9.3333rem) [col-end]) [grid-end] 1fr [full-end];
      grid-template-columns: [full-start] 1fr [grid-start] repeat(12, [col-start] minmax(min-content, 9.3333rem) [col-end]) [grid-end] 1fr [full-end];
  -ms-grid-rows: 95vh min-content minmax(min-content, 50rem) min-content min-content;
      grid-template-rows: 95vh -webkit-min-content minmax(-webkit-min-content, 50rem) -webkit-min-content -webkit-min-content;
      grid-template-rows: 95vh min-content minmax(min-content, 50rem) min-content min-content;
  background-color: #f6f6f6;
}

@media only screen and (max-width: 900px) {
  .conteiner {
    -ms-grid-columns: [full-start grid-start] ([col-start] minmax(min-content, 9.3333rem) [col-end])[12] [grid-end full-end];
        grid-template-columns: [full-start grid-start] repeat(12, [col-start] minmax(-webkit-min-content, 9.3333rem) [col-end]) [grid-end full-end];
        grid-template-columns: [full-start grid-start] repeat(12, [col-start] minmax(min-content, 9.3333rem) [col-end]) [grid-end full-end];
  }
}

@media only screen and (max-width: 800px) {
  .conteiner {
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 400px) {
  .conteiner {
    -ms-grid-rows: 98vh min-content minmax(min-content, 50rem) min-content min-content;
        grid-template-rows: 98vh -webkit-min-content minmax(-webkit-min-content, 50rem) -webkit-min-content -webkit-min-content;
        grid-template-rows: 98vh min-content minmax(min-content, 50rem) min-content min-content;
  }
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Open Sans", "Source Sans pro", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 1.12rem;
}

body {
  font-family: "Poppins", "Source Sans pro", sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #2d3338;
}

.heading-1 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 800;
}

.heading-2 {
  font-weight: 700;
  color: #2d3338;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading-3 {
  font-weight: 500;
}

.heading-4 {
  font-weight: 600;
  color: #2d3338;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.rounded-50 {
  border-radius: 50%;
}

.rounded-100px {
  border-radius: 100px;
}

.rounded-10px {
  border-radius: 10px;
}

.rounded-5px {
  border-radius: 5px;
}

.rounded-2px {
  border-radius: 2px;
}

.ionic-icons-gap {
  margin-right: .8rem;
}

.btn {
  border: none;
  padding: 1.25rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
}

@media only screen and (max-width: 900px) {
  .btn {
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
}

.btn__back-go {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, max-content))[2];
      grid-template-columns: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-column-gap: .5rem;
}

.btn__next-arrow {
  padding: 1rem;
}

.btn__next-arrow--blue, .btn__next-arrow--blue:link, .btn__next-arrow--blue:visited {
  background-color: #2c4458;
  color: #f6f6f6;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.btn__next-arrow--blue:hover, .btn__next-arrow--blue:active {
  background-color: #c49d48;
  color: #f6f6f6;
}

.btn__next-arrow--brown:active, .btn__next-arrow--brown:visited, .btn__next-arrow--brown {
  background-color: #c49d48;
  color: #f6f6f6;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.btn__next-arrow--brown:hover, .btn__next-arrow--brown:active {
  background-color: #2c4458;
  color: #f6f6f6;
}

.btn__next-arrow__icon {
  fill: currentColor;
  height: 1.75rem;
  width: 1.75rem;
}

.btn__icon {
  height: 1.75rem;
  width: 1.75rem;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
}

.btn__icon--1 {
  fill: currentColor;
  opacity: .5;
  margin-right: -9%;
}

.btn__icon--2 {
  fill: currentColor;
}

.btn--white {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #2d3338;
  background-color: #eee;
  border: 2pt solid transparent;
}

.btn--white:hover, .btn--white:active {
  color: #efd6ac;
  background-color: transparent;
  border: 2pt solid currentColor;
}

.cities {
  grid-column: grid-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(2rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  margin-bottom: 25rem;
}

.cities__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 1.25rem;
}

@media only screen and (max-width: 900px) {
  .cities__text {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 5rem 2rem;
    padding-bottom: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.cities__text > p {
  margin-bottom: 1rem;
}

.cities__item {
  position: relative;
  margin-top: -50%;
}

@media only screen and (max-width: 900px) {
  .cities__item {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: -20%;
  }
}

.cities__name {
  position: absolute;
  margin: 1.75rem;
  color: #eee;
  text-transform: uppercase;
}

.cities__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.cities__btn {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: 1000;
}

.explore {
  grid-column: full-start/ full-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(/img/gallery.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(/img/gallery.jpg);
  background-size: cover;
  background-position: 50%;
  margin-bottom: 15rem;
}

.explore__card {
  width: 80%;
  margin: 0 auto;
  height: 40vw;
  background-color: #eee;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 900px) {
  .explore__card {
    -ms-grid-columns: 40% 50%;
        grid-template-columns: 40% 50%;
  }
}

@media only screen and (max-width: 700px) {
  .explore__card {
    width: 90%;
    height: 50vh;
  }
}

.explore__card-text {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 8rem 15rem 0rem 4rem;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .explore__card-text {
    padding: 4rem 2rem;
  }
}

.explore__card--pragraph {
  text-align: left;
}

.explore__buttons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  margin: 0 -4rem 2rem 0;
}

.explore__carousel {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: -8%;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 900px) {
  .explore__carousel {
    margin-bottom: 8vw;
    margin-right: -10vw;
  }
}

@media only screen and (max-width: 700px) {
  .explore__carousel {
    margin-bottom: 14vw;
    margin-right: 5vw;
  }
}

.explore__carousel-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore__carousel-images-item {
  width: 8vw;
  height: 8vw;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 5px;
}

@media only screen and (max-width: 700px) {
  .explore__carousel-images-item {
    width: 9vw;
    height: 9vw;
  }
}

.explore__carousel-images-item:not(:last-child) {
  margin-right: 1rem;
}

.explore__carousel-images-item:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.explore__carousel-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -2rem;
  margin-right: 26%;
}

.explpre__card-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.location {
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  background-color: #eee;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15rem;
}

@media only screen and (max-width: 700px) {
  .location {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 40vh (5vw)[7];
        grid-template-rows: 40vh repeat(7, 5vw);
    grid-row-gap: 3rem;
    grid-column-gap: 2rem;
    padding: 0;
  }
}

.location > *:not(:first-child) {
  padding: 0 2rem;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 700px) {
  .location {
    margin-top: 0;
    padding: 0 1rem;
  }
}

.location__description-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 700px) {
  .location__description-headings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.location__description-1 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

@media only screen and (max-width: 700px) {
  .location__description-1 {
    text-align: justify;
    -ms-grid-column: 2;
    -ms-grid-column-span: 9;
    grid-column: 2/11;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.location__description-2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  grid-column: 10 / -1;
  grid-row: 5/-1;
}

@media only screen and (max-width: 700px) {
  .location__description-2 {
    padding: 0 2rem;
    grid-column: 8 / -1;
    grid-row: 4/-1;
  }
}

.location__description-2 h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2d3338;
}

.location__description-2 h4:not(:last-child) {
  margin-right: 5%;
}

.location__description-2 p {
  margin-bottom: 2rem;
  width: 90%;
}

.location__img {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  grid-row: 5/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .location__img {
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
    grid-row: 4/-1;
    border-radius: 20px !important;
  }
}

.location__map {
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 700px) {
  .location__map {
    grid-column: 2/ -2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .location__map {
    margin-bottom: 5rem;
    border-radius: 10px;
  }
}

.location .btn__icon {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  color: currentColor;
  opacity: .5;
}

.location__btn {
  margin-top: 20%;
}

@media only screen and (max-width: 800px) {
  .location__btn {
    margin-top: 5%;
  }
}

.gallery {
  margin-top: 10rem;
  margin-bottom: 12rem;
  grid-column: grid-start / grid-end;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .gallery {
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 900px) {
  .gallery {
    padding: 0 2rem;
    margin-bottom: 10rem;
  }
}

.gallery__grid {
  height: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-gap: 1rem;
}

.gallery__paragraph {
  width: 35%;
  margin: 0 auto;
  margin-bottom: 10rem;
  line-height: 2;
}

@media only screen and (max-width: 900px) {
  .gallery__paragraph {
    width: 50%;
  }
}

.gallery__item {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.gallery__item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/ span 4;
}

.gallery__item-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ span 3;
  -o-object-position: top;
     object-position: top;
}

.gallery__item-3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/ span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/ span 8;
}

.gallery__item-4 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/ span 4;
}

.gallery__item-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/ span 4;
}

.gallery__item-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4/ span 4;
}

.gallery__item-7 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/ span 3;
  grid-row: 5/-1;
  -o-object-position: center center;
     object-position: center center;
}

.gallery__item-8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  grid-row: 9/ -1;
}

.gallery__item-9 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/ span 4;
}

.gallery__item-10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/ span 2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  grid-row: 9/ span 3;
}

.videos {
  grid-column: full-start /full-end;
  margin-bottom: 15rem;
  height: 12vw;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 700px) {
  .videos {
    margin-bottom: 10rem;
  }
}

.videos__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 5px;
}

.videos__img-1 {
  -o-object-position: bottom;
     object-position: bottom;
}

.videos__img-square {
  position: relative;
  display: block;
}

.videos__img-square:hover::after {
  opacity: 0;
}

.videos__img-square:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(rgba(196, 157, 72, 0.5)));
  background: linear-gradient(to bottom, transparent 40%, rgba(196, 157, 72, 0.5));
}

.videos__img-square::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), to(rgba(196, 157, 72, 0.8)));
  background: linear-gradient(to bottom, transparent 40%, rgba(196, 157, 72, 0.8));
  position: absolute;
  z-index: 1000;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.videos__img-square::after {
  content: url(../img/play-circle.svg);
  display: block;
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

@media only screen and (max-width: 700px) {
  .videos__img-square::after {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 700px) {
  .videos__img-square::after {
    height: 3rem;
    width: 3rem;
  }
}

.videos__img-square:first-child > img {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.videos__img-square:last-child > img {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.newsletter {
  grid-column: 1/-1;
  height: 30rem;
  margin-top: 10rem;
  padding: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 68, 88, 0.5)), to(rgba(44, 68, 88, 0.5))), url("../img/gallery-5.jpg");
  background: linear-gradient(rgba(44, 68, 88, 0.5), rgba(44, 68, 88, 0.5)), url("../img/gallery-5.jpg");
  background-size: cover;
  background-position: 50% 80%;
  color: #f6f6f6;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 1200px) {
  .newsletter {
    margin-top: 0;
  }
}

.newsletter__pargraph {
  margin-bottom: 1rem;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__input {
  margin-right: 3rem;
  width: 35vw;
  padding: 1rem 2rem;
  border: none;
  border: 3px solid transparent;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

@media only screen and (max-width: 900px) {
  .newsletter__input {
    width: 50vw;
  }
}

.newsletter__input:hover, .newsletter__input:active {
  border: 3px solid #efd6ac;
  background: rgba(246, 246, 246, 0.9);
}

.newsletter__input:focus {
  outline: none;
}

.newsletter__heading {
  color: white;
}

.footer {
  grid-column: grid-start / grid-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 5rem 0 10rem 0;
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .footer {
    grid-column: full-start/ full-end;
    padding: 2rem;
  }
}

.footer * {
  color: #707070;
}

.footer__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__item li:hover {
  color: #c49d48;
}

.footer__item::before {
  content: url("../img/ios-arrow-right.svg");
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  opacity: .5;
}

.footer__logo {
  height: 4rem;
  opacity: .5;
}

.footer__heading-4 {
  font-size: 1.75rem;
  margin-bottom: 1.75rem;
}

.footer__logo-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact-us__pargraph {
  margin-bottom: 1rem;
}

.legal {
  grid-column: 1/-1;
  background-color: #2c4458;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6f6f6;
}

.legal a {
  color: inherit;
}

.legal a:hover {
  color: #c49d48;
}

.legal__policy a:not(:last-child) {
  margin-right: 2rem;
}

.header {
  grid-column: 1/-1;
  padding: 2rem 8rem;
  padding-top: 0;
  background: linear-gradient(-170deg, transparent, rgba(0, 0, 0, 0.6)), url(../img/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1fr;
      grid-template-columns: 1.4fr 1fr;
  -ms-grid-rows: 1.2fr (max-content)[4] 1fr;
      grid-template-rows: 1.2fr repeat(4, -webkit-max-content) 1fr;
      grid-template-rows: 1.2fr repeat(4, max-content) 1fr;
  grid-row-gap: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: flex-start;
  color: #f6f6f6;
}

@media only screen and (max-width: 900px) {
  .header {
    padding-left: 2rem;
    padding-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    background-position: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .header .heading-1 {
    display: block;
    max-width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .header .heading-1 {
    font-size: 6rem;
    line-height: 1.2;
  }
}

.header__logo {
  width: 11rem;
  padding-top: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__nav {
  justify-self: flex-end;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

@media only screen and (max-width: 800px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:link, .header__nav-item:visited {
  color: #2c4458;
  font-size: 1.4rem;
  padding: 1.25rem;
  padding-top: 2.5rem;
  text-transform: uppercase;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .5s , color .3s .2s;
  transition: all .5s , color .3s .2s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c49d48), color-stop(5%, #c49d48), color-stop(5%, transparent), to(transparent));
  background: linear-gradient(to bottom, #c49d48 5%, #c49d48 5%, transparent 5%, transparent 100%);
  background-size: 101%;
}

.header__nav-item:link:not(:last-child), .header__nav-item:visited:not(:last-child) {
  margin-right: 1.5rem;
}

.header__nav-item:active, .header__nav-item:hover {
  background-size: 2000%;
  color: #f6f6f6;
}

.header__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 80%;
}

.header__btn {
  margin-top: 2vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
/*# sourceMappingURL=main.css.map */