*, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

.conteiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 1fr [grid-start] ([col-start] minmax(9.3333rem, 1fr) [col-end])[12] [grid-end] 1fr;
      grid-template-columns: [full-start] 1fr [grid-start] repeat(12, [col-start] minmax(9.3333rem, 1fr) [col-end]) [grid-end] 1fr;
  -ms-grid-rows: 95vh min-content minmax(80vh, min-content) min-content;
      grid-template-rows: 95vh -webkit-min-content minmax(80vh, -webkit-min-content) -webkit-min-content;
      grid-template-rows: 95vh min-content minmax(80vh, min-content) min-content;
  background-color: #f6f6f6;
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Open Sans", "Source Sans pro", sans-serif;
}

p {
  line-height: 1.5;
  font-size: 1.12rem;
}

body {
  font-family: "Poppins", "Source Sans pro", sans-serif;
  font-weight: 300;
  line-height: 1;
  color: #2d3338;
}

.heading-1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: 800;
}

.heading-2 {
  font-weight: 700;
  color: #2d3338;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.heading-3 {
  font-weight: 500;
}

.heading-4 {
  font-weight: 700;
  color: #2d3338;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.rounded-50 {
  border-radius: 50%;
}

.rounded-100px {
  border-radius: 100px;
}

.rounded-10px {
  border-radius: 10px;
}

.rounded-5px {
  border-radius: 5px;
}

.rounded-2px {
  border-radius: 2px;
}

.ionic-icons-gap {
  margin-right: .8rem;
}

.btn {
  border: none;
  padding: 1.25rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
}

.btn__back-go {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(min-content, max-content))[2];
      grid-template-columns: repeat(2, minmax(-webkit-min-content, -webkit-max-content));
      grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-column-gap: .5rem;
}

.btn__next-arrow {
  padding: 1rem;
}

.btn__next-arrow--blue, .btn__next-arrow--blue:link, .btn__next-arrow--blue:visited {
  background-color: #2c4458;
  color: #f6f6f6;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.btn__next-arrow--blue:hover, .btn__next-arrow--blue:active {
  background-color: #c49d48;
  color: #f6f6f6;
}

.btn__next-arrow--brown:active, .btn__next-arrow--brown:visited, .btn__next-arrow--brown {
  background-color: #c49d48;
  color: #f6f6f6;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

.btn__next-arrow--brown:hover, .btn__next-arrow--brown:active {
  background-color: #2c4458;
  color: #f6f6f6;
}

.btn__next-arrow__icon {
  fill: currentColor;
  height: 1.75rem;
  width: 1.75rem;
}

.btn__icon {
  height: 1.75rem;
  width: 1.75rem;
  -webkit-transform: translateY(3%);
          transform: translateY(3%);
}

.btn__icon--1 {
  fill: currentColor;
  opacity: .5;
  margin-right: -9%;
}

.btn__icon--2 {
  fill: currentColor;
}

.btn--white {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #2d3338;
  background-color: #eee;
  border: 2pt solid transparent;
}

.btn--white:hover, .btn--white:active {
  color: #efd6ac;
  background-color: transparent;
  border: 2pt solid currentColor;
}

.cities {
  grid-column: grid-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-bottom: 25rem;
}

.cities__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 1rem;
}

.cities__text > p {
  margin-bottom: 1rem;
}

.cities__item {
  position: relative;
  margin-top: -50%;
}

.cities__name {
  position: absolute;
  margin: 1.75rem;
  color: #eee;
  text-transform: uppercase;
}

.cities__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.cities__btn {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  z-index: 1000;
}

.explore {
  grid-column: full-start/ full-end;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3))), url(../temp/burj-al-arab-262431.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../temp/burj-al-arab-262431.jpg);
  background-size: 100%;
  background-position: 50%;
}

.explore__card {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  background-color: #eee;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  -webkit-box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.explore__card-text {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  padding: 8rem 15rem 0rem 4rem;
  text-align: left;
}

.explore__card--pragraph {
  text-align: left;
}

.explore__buttons {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  margin: 0 -4rem 2rem 0;
}

.explore__carousel {
  grid-column: 2/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: -8%;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore__carousel-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore__carousel-images-item {
  width: 12rem;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 5px;
}

.explore__carousel-images-item:not(:last-child) {
  margin-right: 1rem;
}

.explore__carousel-images-item:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.explore__carousel-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: -2rem;
  margin-right: 26%;
}

.explpre__card-img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.location {
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee;
  margin-top: 15rem;
}

.location__description-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.location__description-1 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
}

.location__description-2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  grid-column: 10 / -1;
  grid-row: 5/-1;
  padding: 3rem;
}

.location__description-2 h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2d3338;
}

.location__description-2 h4:not(:last-child) {
  margin-right: 5%;
}

.location__description-2 p {
  margin-bottom: 2rem;
  width: 90%;
}

.location__img {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  grid-row: 5/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.2);
}

.location__map {
  display: block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/ span 6;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.location .btn__icon {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  color: currentColor;
  opacity: .5;
}

.location__btn {
  margin-top: 10rem;
}

.gallery {
  margin-top: 10rem;
  grid-column: grid-start / grid-end;
  text-align: center;
}

.gallery__grid {
  height: 50vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: (1fr)[11];
      grid-template-rows: repeat(11, 1fr);
  grid-gap: 1rem;
}

.gallery__paragraph {
  width: 35%;
  margin: 0 auto;
  margin-bottom: 10rem;
  line-height: 2;
}

.gallery__item {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.gallery__item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/ span 4;
}

.gallery__item-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ span 3;
  -o-object-position: top;
     object-position: top;
}

.gallery__item-3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/ span 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  grid-row: 1/ span 8;
}

.gallery__item-4 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/ span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/ span 4;
}

.gallery__item-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/ span 4;
}

.gallery__item-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4/ span 4;
}

.gallery__item-7 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/ span 3;
  grid-row: 5/-1;
  -o-object-position: center center;
     object-position: center center;
}

.gallery__item-8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/ span 3;
  grid-row: 9/ -1;
}

.gallery__item-9 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/ span 3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/ span 4;
}

.gallery__item-10 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/ span 2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  grid-row: 9/ span 3;
}

.header {
  grid-column: 1/-1;
  padding: 2rem 8rem;
  padding-top: 0;
  background: linear-gradient(-170deg, transparent, rgba(0, 0, 0, 0.6)), url(../img/bg-1.png);
  background-size: 100%;
  background-position: bottom right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.4fr 1fr;
      grid-template-columns: 1.4fr 1fr;
  -ms-grid-rows: 1.2fr (max-content)[4] 1fr;
      grid-template-rows: 1.2fr repeat(4, -webkit-max-content) 1fr;
      grid-template-rows: 1.2fr repeat(4, max-content) 1fr;
  grid-row-gap: 2rem;
  grid-auto-flow: row;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: flex-start;
  color: #f6f6f6;
}

.header__logo {
  width: 11rem;
  padding-top: 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__nav {
  justify-self: flex-end;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.header__nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:link, .header__nav-item:visited {
  color: #2c4458;
  font-size: 1.4rem;
  padding: 1.25rem;
  padding-top: 2.5rem;
  text-transform: uppercase;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all .5s , color .3s .2s;
  transition: all .5s , color .3s .2s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c49d48), color-stop(5%, #c49d48), color-stop(5%, transparent), to(transparent));
  background: linear-gradient(to bottom, #c49d48 5%, #c49d48 5%, transparent 5%, transparent 100%);
  background-size: 101%;
}

.header__nav-item:link:not(:last-child), .header__nav-item:visited:not(:last-child) {
  margin-right: 1.5rem;
}

.header__nav-item:active, .header__nav-item:hover {
  background-size: 2000%;
  color: #f6f6f6;
}

.header__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: 80%;
}

.header__btn {
  margin-top: 2vw;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
/*# sourceMappingURL=main.css.map */