%transitions{
    transition: all 1s ease;
}
.btn{
    border: none;
    padding: 1.25rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    @media only screen and (max-width: $bp-big) {
        padding: 1rem 2rem;
        font-size: 1.25rem;
    }
    &__back-go{
        display: grid;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-column-gap: .5rem;
    }
        &__next-arrow{        
            padding: 1rem;

            &--blue, &--blue:link,&--blue:visited {
                background-color: $color-secondary;
                color: $color-grey-light-1;
                @include transitions;
                }
            &--blue:hover,&--blue:active{
                background-color: $color-primary;
                color: $color-grey-light-1; 
                  
            }

            &--brown:active,
            &--brown:visited, 
            &--brown{
                background-color: $color-primary;
                color: $color-grey-light-1;
                @include transitions;
                }
            &--brown:hover,
             &--brown:active{
                background-color: $color-secondary;
                color: $color-grey-light-1;  
            }

            &__icon{
                fill: currentColor; 
                height: 1.75rem;
                width: 1.75rem;
            }
        }

        &__icon{
            height: 1.75rem;
            width: 1.75rem;
            transform: translateY(3%);
            &--1{
                fill: currentColor;
                opacity: .5;
                margin-right:-9%; 
            }
            &--2{
                fill: currentColor;
            }
        }
        &--white{
            transition: all .3s;
            color: $color-grey-dark-2;
            background-color: $color-grey-light-2;
            border: 2pt solid transparent;
            &:hover,&:active{
                color:$color-primary-light;  
                background-color: transparent;
                border: 2pt solid currentColor;
            
            }
        }
        // &--white-2{
        //     transition: all .2s;
        //     color: $color-grey-dark-2;
        //     background-color: $color-grey-light-2;
        //     &:hover,&:active{
        //         color:$color-primary-light;  
        //         background-color: $color-secondary;
        //     }
        // }
       
}