.cities{
    grid-column: grid-start / full-end;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 15rem;
    &__text{
        align-self: center;
        margin-right: 1rem;
        &>p{
          margin-bottom: 1rem;
         
        }
    }
    &__item{
        position: relative;
        transform: translateY(-50%);
        z-index: 1000;
        // box-shadow: $shadow;
    }
    &__name{
    position: absolute;
    margin:1.75rem;
    color: $color-grey-light-2;
    text-transform: uppercase;
    }
    &__img{
        
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    &__btn{
        justify-content: right;
    }
}