.footer{
    grid-column: grid-start / grid-end; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: 5rem 0 10rem 0;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    font-size: 1.5rem;
    @media only screen and (max-width: $bp-largest) {
        grid-column: full-start/ full-end;
        padding: 2rem ;
         
    }
    // @media only screen and (max-width: $bp-big) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
    & *{
        color: $color-grey-dark-1;
    }
    &__links {
        
    }
    &__list{

    }
    &__item{
        list-style: none;
        display: flex;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 1.25rem;
        }
        & li:hover{
            color: $color-primary; 
        }
       
        &::before{
            content: url("../img/ios-arrow-right.svg");
            display: inline-block;
            height: 1.2rem;
            width: 1.2rem; 
            opacity: .5;  
        }
         
    }
    &__logo{
        height: 4rem;
        opacity: .5;
        
    }
    &__heading-4{
         font-size: 1.75rem;
         margin-bottom: 1.75rem;

    }
    &__logo-info{
         
        align-self: center;
    }
    &__text{
    }
    
}
.contact-us{
     
    
    &__pargraph{
        margin-bottom: 1rem;
    }
  
}
.legal{
    grid-column: 1/-1;
    background-color: $color-secondary;
    display: flex;
    padding: 1rem 5rem;
    justify-content: space-between;
    align-items: center;
    color: $color-grey-light-1;
    & a{
       color: inherit;  
       &:hover{
        color: $color-primary;
    } 
    }
    &__policy a{
        &:not(:last-child){
            margin-right: 2rem;
        } 
    }
}