*,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

}

.conteiner{
    display: grid;

    grid-template-columns: [full-start] 1fr [grid-start] repeat( 12, [col-start] 12.2rem [col-end]) [grid-end] 1fr;
    grid-template-rows: 80vh;
}