.rounded-50{
    border-radius: 50%;
}
.rounded-100px{
    border-radius: 100px;
}
.rounded-10px{
    border-radius: 10px;
}
.rounded-5px{
    border-radius: 5px;
}

.rounded-2px{
    border-radius: 2px;
}
.ionic-icons-gap{
    margin-right: .8rem;
} 
